@model API.Data.Models.STATUS

<h2>Delete STATUS</h2>

<p>Tem certeza que deseja deletar?</p>

<strong>@Model.tipo - @Model.descricao</strong>

<form method="post" action="/status/deleteconfirmed">
    <input type="hidden" name="id" value="@Model.idStatus" />
    <button type="submit">Sim, deletar</button>
</form>

<br />
<a href="/status">Cancelar</a>
