@model API.Data.Models.STATUS

<h2>Editar STATUS</h2>

<form method="post">
    <input type="hidden" name="idStatus" value="@Model.idStatus" />

    <label>Tipo</label><br />
    <input type="text" name="tipo" value="@Model.tipo" /><br /><br />

    <label>Descricao</label><br />
    <input type="text" name="descricao" value="@Model.descricao" /><br /><br />

    <button type="submit">Atualizar</button>
</form>
