@model API.Data.Models.PERFIL

<h2>Edit PERFIL</h2>

<form method="post">
    <input type="hidden" name="idPerfil" value="@Model.idPerfil" />

    <label>Tipo</label><br />
    <input type="text" name="tipo" value="@Model.tipo" /><br /><br />

    <label>Descricao</label><br />
    <input type="text" name="descricao" value="@Model.descricao" /><br /><br />

    <button type="submit">Atualizar</button>
</form>
