@model API.Data.Models.ACL

<h2>Create ACL</h2>

<form method="post">
    <label>Tipo</label><br />
    <input type="text" name="tipo" /><br /><br />

    <label>Descricao</label><br />
    <input type="text" name="descricao" /><br /><br />

    <button type="submit">Salvar</button>
</form>
