@model API.Data.Models.ACL

<h2>Detalhes do ACL</h2>

<h4>@Model.tipo</h4>

<table border="1" cellpadding="5">
    <tr>
        <th>Id</th>
        <th>Tipo</th>
        <th>Descricao</th>
        <th>Ações</th>
    </tr>

    <tr>
        <td>@Model.idACL</td>
        <td>@Model.tipo</td>
        <td>@Model.descricao</td>
        <td>
            <a href="/acl/edit/@Model.idACL" 
                class="btn btn-sm btn-outline-primary me-2">
                <i class="bi bi-pencil"></i>
            </a> 
            <a href="/acl/delete/@Model.idACL" 
                class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash"></i>
            </a>
        </td>
    </tr>

</table>

<br />
<a href="/acl" class="btn btn-secondary">
    <i class="bi bi-arrow-left-short"></i> Voltar para Lista
</a>



