USE [master]
GO
/****** Object:  Database [dbZapTito]    Script Date: 26/03/2026 15:40:27 ******/
CREATE DATABASE [dbZapTito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTeste', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbTeste.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTeste_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbTeste_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbZapTito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbZapTito]
GO
/****** Object:  User [NT SERVICE\Winmgmt]    Script Date: 26/03/2026 15:40:28 ******/
CREATE USER [NT SERVICE\Winmgmt] FOR LOGIN [NT SERVICE\Winmgmt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT SERVICE\SQLWriter]    Script Date: 26/03/2026 15:40:28 ******/
CREATE USER [NT SERVICE\SQLWriter] FOR LOGIN [NT SERVICE\SQLWriter] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]    Script Date: 26/03/2026 15:40:28 ******/
CREATE USER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] FOR LOGIN [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT Service\MSSQL$SQLEXPRESS]    Script Date: 26/03/2026 15:40:28 ******/
CREATE USER [NT Service\MSSQL$SQLEXPRESS] FOR LOGIN [NT Service\MSSQL$SQLEXPRESS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-3JUJ541\Administrador]    Script Date: 26/03/2026 15:40:28 ******/
CREATE USER [DESKTOP-3JUJ541\Administrador] FOR LOGIN [DESKTOP-3JUJ541\Administrador] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BUILTIN\Usuários]    Script Date: 26/03/2026 15:40:28 ******/
CREATE USER [BUILTIN\Usuários] FOR LOGIN [BUILTIN\Usuários]
GO
/****** Object:  User [AUTORIDADE NT\SISTEMA]    Script Date: 26/03/2026 15:40:28 ******/
CREATE USER [AUTORIDADE NT\SISTEMA] FOR LOGIN [AUTORIDADE NT\SISTEMA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [DESKTOP-3JUJ541\Administrador]
GO
ALTER ROLE [db_owner] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [BUILTIN\Usuários]
GO
ALTER ROLE [db_owner] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [AUTORIDADE NT\SISTEMA]
GO
/****** Object:  Table [dbo].[ztACL]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztACL](
	[idACL] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idACL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztCHAMADA]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztCHAMADA](
	[idChamada] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idContato] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
	[dataHoraIniciada] [datetime] NULL,
	[Duracao] [datetime] NULL,
	[dataFinalizada] [datetime] NULL,
	[dataHoraExcluida] [datetime] NULL,
	[localizaContato] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idChamada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztCHAT]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztCHAT](
	[idChat] [int] IDENTITY(1,1) NOT NULL,
	[idStatus] [int] NOT NULL,
	[idGrupo] [int] NOT NULL,
	[dataHoraCriada] [datetime] NULL,
	[duracao] [datetime] NULL,
	[dataHoraIniciada] [datetime] NULL,
	[dataHoraFinalizada] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztCONTATO]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztCONTATO](
	[idContato] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
	[nome] [varchar](60) NOT NULL,
	[numeroTelefone] [char](14) NOT NULL,
	[email] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idContato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztDISPOSITIVO]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztDISPOSITIVO](
	[idDispositivo] [int] IDENTITY(1,1) NOT NULL,
	[dispositivo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztENVIA]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztENVIA](
	[idEnvia] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idSTATUS] [int] NOT NULL,
	[idChat] [int] NOT NULL,
	[dataHoraEntregue] [datetime] NULL,
	[dataHoraLido] [datetime] NULL,
	[dataHoraEnviada] [datetime] NULL,
	[mensagem] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEnvia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztGRUPO]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztGRUPO](
	[idGrupo] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztLISTACONTATO]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztLISTACONTATO](
	[idListaContato] [int] IDENTITY(1,1) NOT NULL,
	[idGrupo] [int] NOT NULL,
	[idContato] [int] NOT NULL,
	[idPerfil] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idListaContato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztPERFIL]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztPERFIL](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztRECEBE]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztRECEBE](
	[idRecebe] [int] IDENTITY(1,1) NOT NULL,
	[idContato] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
	[idChat] [int] NOT NULL,
	[dataHoraEntregue] [datetime] NULL,
	[dataHoraLido] [datetime] NULL,
	[dataHoraEnviada] [datetime] NULL,
	[mensagem] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRecebe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztSTATUS]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztSTATUS](
	[idStatus] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztUSUARIO]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztUSUARIO](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idACL] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
	[idPerfil] [int] NOT NULL,
	[nome] [varchar](60) NOT NULL,
	[dataNascimento] [date] NOT NULL,
	[numeroTelefone] [char](14) NOT NULL,
	[senha] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ztVERIFICACAO]    Script Date: 26/03/2026 15:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ztVERIFICACAO](
	[idVerificacao] [int] IDENTITY(1,1) NOT NULL,
	[idDispositivo] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[numero] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVerificacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ztACL] ON 

INSERT [dbo].[ztACL] ([idACL], [tipo], [descricao]) VALUES (1, N'Master', N'Acesso total ao sistema, especifica para o administrador do sistema.')
INSERT [dbo].[ztACL] ([idACL], [tipo], [descricao]) VALUES (2, N'Administrador', N'Acesso administrativo, para suporte tecnico.')
INSERT [dbo].[ztACL] ([idACL], [tipo], [descricao]) VALUES (3, N'Cliente', N'Acesso ao sistema para uso.')
SET IDENTITY_INSERT [dbo].[ztACL] OFF
GO
SET IDENTITY_INSERT [dbo].[ztDISPOSITIVO] ON 

INSERT [dbo].[ztDISPOSITIVO] ([idDispositivo], [dispositivo]) VALUES (1, N'Admin')
INSERT [dbo].[ztDISPOSITIVO] ([idDispositivo], [dispositivo]) VALUES (2, N'Geral')
INSERT [dbo].[ztDISPOSITIVO] ([idDispositivo], [dispositivo]) VALUES (3, N'Moderador')
SET IDENTITY_INSERT [dbo].[ztDISPOSITIVO] OFF
GO
SET IDENTITY_INSERT [dbo].[ztPERFIL] ON 

INSERT [dbo].[ztPERFIL] ([idPerfil], [tipo], [descricao]) VALUES (1, N'Administrador', N'Perfil com accesso administrativo podendo promover ou revogar usuários.')
INSERT [dbo].[ztPERFIL] ([idPerfil], [tipo], [descricao]) VALUES (2, N'Comum', N'Perfil padrão para postagem e interação.')
INSERT [dbo].[ztPERFIL] ([idPerfil], [tipo], [descricao]) VALUES (3, N'Moderador', N'Perfil com ferramentas para reportar e revisar conteúdo.')
SET IDENTITY_INSERT [dbo].[ztPERFIL] OFF
GO
SET IDENTITY_INSERT [dbo].[ztSTATUS] ON 

INSERT [dbo].[ztSTATUS] ([idStatus], [tipo], [descricao]) VALUES (1, N'Ativo', N'Operando normalmente.')
INSERT [dbo].[ztSTATUS] ([idStatus], [tipo], [descricao]) VALUES (2, N'Inativo', N'Sem accesso ao sistema ou algum item.')
SET IDENTITY_INSERT [dbo].[ztSTATUS] OFF
GO
SET IDENTITY_INSERT [dbo].[ztUSUARIO] ON 

INSERT [dbo].[ztUSUARIO] ([idUsuario], [idACL], [idStatus], [idPerfil], [nome], [dataNascimento], [numeroTelefone], [senha]) VALUES (2, 3, 2, 3, N'Edmar', CAST(N'1977-04-17' AS Date), N'5511948806919 ', N'$2a$11$T812tXum76CF4UmuNwpORerA7zOp7E162mKbn.p.xhMVQCYkzRjjG')
INSERT [dbo].[ztUSUARIO] ([idUsuario], [idACL], [idStatus], [idPerfil], [nome], [dataNascimento], [numeroTelefone], [senha]) VALUES (3, 3, 2, 3, N'Roberto', CAST(N'1988-06-25' AS Date), N'5511999800910 ', N'$2a$11$asiOXdxmtL3QEOIU1sffX.fx.Ne1g8zXXwdM2ROzQm3.utYewoHKS')
INSERT [dbo].[ztUSUARIO] ([idUsuario], [idACL], [idStatus], [idPerfil], [nome], [dataNascimento], [numeroTelefone], [senha]) VALUES (4, 3, 2, 3, N'Hugo', CAST(N'1990-08-18' AS Date), N'5511988704113 ', N'$2a$11$THx7D3.xu9o2PqCO3mYpRebAg1mVeeGE1SfRiJVPQc1mvGAqLm7Fy')
SET IDENTITY_INSERT [dbo].[ztUSUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ztACL__E7F95649EC85FD43]    Script Date: 26/03/2026 15:40:28 ******/
ALTER TABLE [dbo].[ztACL] ADD UNIQUE NONCLUSTERED 
(
	[tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ztCONTAT__5412271C6779BAAF]    Script Date: 26/03/2026 15:40:28 ******/
ALTER TABLE [dbo].[ztCONTATO] ADD UNIQUE NONCLUSTERED 
(
	[numeroTelefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ztDISPOS__C111DFE01E63D755]    Script Date: 26/03/2026 15:40:28 ******/
ALTER TABLE [dbo].[ztDISPOSITIVO] ADD UNIQUE NONCLUSTERED 
(
	[dispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ztGRUPO__E7F95649E205B41E]    Script Date: 26/03/2026 15:40:28 ******/
ALTER TABLE [dbo].[ztGRUPO] ADD UNIQUE NONCLUSTERED 
(
	[tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ztPERFIL__E7F95649A6885FA0]    Script Date: 26/03/2026 15:40:28 ******/
ALTER TABLE [dbo].[ztPERFIL] ADD UNIQUE NONCLUSTERED 
(
	[tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ztSTATUS__E7F95649CE9EE13C]    Script Date: 26/03/2026 15:40:28 ******/
ALTER TABLE [dbo].[ztSTATUS] ADD UNIQUE NONCLUSTERED 
(
	[tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ztUSUARI__5412271C63CBD5EB]    Script Date: 26/03/2026 15:40:28 ******/
ALTER TABLE [dbo].[ztUSUARIO] ADD UNIQUE NONCLUSTERED 
(
	[numeroTelefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ztCHAMADA] ADD  DEFAULT (getdate()) FOR [dataHoraIniciada]
GO
ALTER TABLE [dbo].[ztCHAMADA] ADD  DEFAULT (getdate()) FOR [Duracao]
GO
ALTER TABLE [dbo].[ztCHAMADA] ADD  DEFAULT (getdate()) FOR [dataFinalizada]
GO
ALTER TABLE [dbo].[ztCHAMADA] ADD  DEFAULT (getdate()) FOR [dataHoraExcluida]
GO
ALTER TABLE [dbo].[ztCHAT] ADD  DEFAULT (getdate()) FOR [dataHoraCriada]
GO
ALTER TABLE [dbo].[ztCHAT] ADD  DEFAULT (getdate()) FOR [duracao]
GO
ALTER TABLE [dbo].[ztCHAT] ADD  DEFAULT (getdate()) FOR [dataHoraIniciada]
GO
ALTER TABLE [dbo].[ztCHAT] ADD  DEFAULT (getdate()) FOR [dataHoraFinalizada]
GO
ALTER TABLE [dbo].[ztENVIA] ADD  DEFAULT (getdate()) FOR [dataHoraEntregue]
GO
ALTER TABLE [dbo].[ztENVIA] ADD  DEFAULT (getdate()) FOR [dataHoraLido]
GO
ALTER TABLE [dbo].[ztENVIA] ADD  DEFAULT (getdate()) FOR [dataHoraEnviada]
GO
ALTER TABLE [dbo].[ztRECEBE] ADD  DEFAULT (getdate()) FOR [dataHoraEntregue]
GO
ALTER TABLE [dbo].[ztRECEBE] ADD  DEFAULT (getdate()) FOR [dataHoraLido]
GO
ALTER TABLE [dbo].[ztRECEBE] ADD  DEFAULT (getdate()) FOR [dataHoraEnviada]
GO
ALTER TABLE [dbo].[ztCHAMADA]  WITH CHECK ADD  CONSTRAINT [FK_Chamada_Contato] FOREIGN KEY([idContato])
REFERENCES [dbo].[ztCONTATO] ([idContato])
GO
ALTER TABLE [dbo].[ztCHAMADA] CHECK CONSTRAINT [FK_Chamada_Contato]
GO
ALTER TABLE [dbo].[ztCHAMADA]  WITH CHECK ADD  CONSTRAINT [FK_Chamada_Status] FOREIGN KEY([idStatus])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ztCHAMADA] CHECK CONSTRAINT [FK_Chamada_Status]
GO
ALTER TABLE [dbo].[ztCHAMADA]  WITH CHECK ADD  CONSTRAINT [FK_Chamada_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[ztUSUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[ztCHAMADA] CHECK CONSTRAINT [FK_Chamada_Usuario]
GO
ALTER TABLE [dbo].[ztCHAT]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Status] FOREIGN KEY([idStatus])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ztCHAT] CHECK CONSTRAINT [FK_Chat_Status]
GO
ALTER TABLE [dbo].[ztCONTATO]  WITH CHECK ADD  CONSTRAINT [FK_Contato_Status] FOREIGN KEY([idStatus])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ztCONTATO] CHECK CONSTRAINT [FK_Contato_Status]
GO
ALTER TABLE [dbo].[ztCONTATO]  WITH CHECK ADD  CONSTRAINT [FK_Contato_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[ztUSUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[ztCONTATO] CHECK CONSTRAINT [FK_Contato_Usuario]
GO
ALTER TABLE [dbo].[ztENVIA]  WITH CHECK ADD  CONSTRAINT [FK_Envia_Chat] FOREIGN KEY([idChat])
REFERENCES [dbo].[ztCHAT] ([idChat])
GO
ALTER TABLE [dbo].[ztENVIA] CHECK CONSTRAINT [FK_Envia_Chat]
GO
ALTER TABLE [dbo].[ztENVIA]  WITH CHECK ADD  CONSTRAINT [FK_Envia_Status] FOREIGN KEY([idSTATUS])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ztENVIA] CHECK CONSTRAINT [FK_Envia_Status]
GO
ALTER TABLE [dbo].[ztENVIA]  WITH CHECK ADD  CONSTRAINT [FK_Envia_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[ztUSUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[ztENVIA] CHECK CONSTRAINT [FK_Envia_Usuario]
GO
ALTER TABLE [dbo].[ztGRUPO]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_STATUS] FOREIGN KEY([idStatus])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ztGRUPO] CHECK CONSTRAINT [FK_Grupo_STATUS]
GO
ALTER TABLE [dbo].[ztGRUPO]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[ztUSUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[ztGRUPO] CHECK CONSTRAINT [FK_Grupo_Usuario]
GO
ALTER TABLE [dbo].[ztLISTACONTATO]  WITH CHECK ADD  CONSTRAINT [FK_ListaContato_Contato] FOREIGN KEY([idContato])
REFERENCES [dbo].[ztCONTATO] ([idContato])
GO
ALTER TABLE [dbo].[ztLISTACONTATO] CHECK CONSTRAINT [FK_ListaContato_Contato]
GO
ALTER TABLE [dbo].[ztLISTACONTATO]  WITH CHECK ADD  CONSTRAINT [FK_ListaContato_Grupo] FOREIGN KEY([idGrupo])
REFERENCES [dbo].[ztGRUPO] ([idGrupo])
GO
ALTER TABLE [dbo].[ztLISTACONTATO] CHECK CONSTRAINT [FK_ListaContato_Grupo]
GO
ALTER TABLE [dbo].[ztLISTACONTATO]  WITH CHECK ADD  CONSTRAINT [FK_ListaContato_Perfil] FOREIGN KEY([idPerfil])
REFERENCES [dbo].[ztPERFIL] ([idPerfil])
GO
ALTER TABLE [dbo].[ztLISTACONTATO] CHECK CONSTRAINT [FK_ListaContato_Perfil]
GO
ALTER TABLE [dbo].[ztLISTACONTATO]  WITH CHECK ADD  CONSTRAINT [FK_ListaContato_Status] FOREIGN KEY([idStatus])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ztLISTACONTATO] CHECK CONSTRAINT [FK_ListaContato_Status]
GO
ALTER TABLE [dbo].[ztRECEBE]  WITH CHECK ADD  CONSTRAINT [FK_Recebe_Chat] FOREIGN KEY([idChat])
REFERENCES [dbo].[ztCHAT] ([idChat])
GO
ALTER TABLE [dbo].[ztRECEBE] CHECK CONSTRAINT [FK_Recebe_Chat]
GO
ALTER TABLE [dbo].[ztRECEBE]  WITH CHECK ADD  CONSTRAINT [FK_Recebe_Contato] FOREIGN KEY([idContato])
REFERENCES [dbo].[ztCONTATO] ([idContato])
GO
ALTER TABLE [dbo].[ztRECEBE] CHECK CONSTRAINT [FK_Recebe_Contato]
GO
ALTER TABLE [dbo].[ztRECEBE]  WITH CHECK ADD  CONSTRAINT [FK_Recebe_Status] FOREIGN KEY([idStatus])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ztRECEBE] CHECK CONSTRAINT [FK_Recebe_Status]
GO
ALTER TABLE [dbo].[ztUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_ACL] FOREIGN KEY([idACL])
REFERENCES [dbo].[ztACL] ([idACL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ztUSUARIO] CHECK CONSTRAINT [FK_Usuario_ACL]
GO
ALTER TABLE [dbo].[ztUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([idPerfil])
REFERENCES [dbo].[ztPERFIL] ([idPerfil])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ztUSUARIO] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [dbo].[ztUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Status] FOREIGN KEY([idStatus])
REFERENCES [dbo].[ztSTATUS] ([idStatus])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ztUSUARIO] CHECK CONSTRAINT [FK_Usuario_Status]
GO
ALTER TABLE [dbo].[ztVERIFICACAO]  WITH CHECK ADD  CONSTRAINT [FK_Verificacao_Dispositivo] FOREIGN KEY([idDispositivo])
REFERENCES [dbo].[ztDISPOSITIVO] ([idDispositivo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ztVERIFICACAO] CHECK CONSTRAINT [FK_Verificacao_Dispositivo]
GO
ALTER TABLE [dbo].[ztVERIFICACAO]  WITH CHECK ADD  CONSTRAINT [FK_Verificacao_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[ztUSUARIO] ([idUsuario])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ztVERIFICACAO] CHECK CONSTRAINT [FK_Verificacao_Usuario]
GO
USE [master]
GO
