CREATE DATABASE TransporteEscolar2; 
GO

USE TransporteEscolar2;
GO

CREATE TABLE ACL (
	idAcl INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	tipo VARCHAR(20) NOT NULL,
	descricao VARCHAR(100) NOT NULL
);
GO
SELECT * FROM ACL;

CREATE TABLE STATUS (
	idStatus INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	tipo VARCHAR(20) NOT NULL,
	descricao VARCHAR(100) NOT NULL
);
GO
SELECT * FROM STATUS;

CREATE TABLE USUARIO (
	idUsuario INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idAcl INT NOT NULL,
	idStatus INT NOT NULL,
	idPerfil INT NULL, 
	nome VARCHAR(50) NOT NULL,
	CPF CHAR(14) NOT NULL,
	dataNascimento DATE NOT NULL,
	senha VARCHAR(30) NOT NULL,
	numeroTelefone VARCHAR(13) NOT NULL,
	verificacao VARCHAR(30) NULL
);
GO
SELECT * FROM USUARIO;

CREATE TABLE PERFIL (
	idPerfil INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	tipo VARCHAR(20) NOT NULL,
	descricao VARCHAR(100) NOT NULL
);
GO
SELECT * FROM PERFIL;

CREATE TABLE LISTACHAMADA (
	idListaChamada INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idUsuario INT NOT NULL,
	idStatus INT NOT NULL,
	idPerfil INT NOT NULL,
	idRelatorio INT NULL,
	idEstimativa INT NULL,
	escola VARCHAR(50) NOT NULL,
	tipo VARCHAR(100) NOT NULL,
	serie VARCHAR(20) NOT NULL,
	turma VARCHAR(20) NOT NULL
);
GO
SELECT * FROM LISTACHAMADA;

CREATE TABLE REGISTRO (
	idRegistro INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idUsuario INT NOT NULL,
	idStatus INT NOT NULL,
	idPerfil INT NOT NULL,
	idListaChamada INT NOT NULL,
	modelo VARCHAR(50) NOT NULL,
	placa CHAR(7) NOT NULL,
	CNH CHAR(9) NOT NULL,
	ano CHAR(4) NOT NULL
);
GO
SELECT * FROM REGISTRO;

CREATE TABLE GEOLOCALIZACAO (
	idGeolocalizacao INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idUsuario INT NOT NULL,
	latitude DECIMAL(9,6) NOT NULL,
	longitude DECIMAL(9,6) NOT NULL,
	altitude DECIMAL(9,2) NULL,
	dataHoraLocalizacao DATETIME2(7) NOT NULL
);
GO
SELECT * FROM GEOLOCALIZACAO;

CREATE TABLE ENDERECO (
	idEndereco INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idStatus INT NOT NULL,
	idGeolocalizacao INT NOT NULL,
	Localizacao VARCHAR(300) NOT NULL
);
GO
SELECT * FROM ENDERECO;

CREATE TABLE ESTIMATIVA (
	idEstimativa INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idEndereco INT NOT NULL,
	idUsuario INT NOT NULL,
	tempo DATETIME NOT NULL,
	estimativaDoTempo DATETIME NOT NULL
);
GO
SELECT * FROM ESTIMATIVA;

CREATE TABLE JUSTIFICATIVA (
	idJustificativa INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idStatus INT NOT NULL,
	idEndereco INT NOT NULL,
	idEstimativa INT NOT NULL,
	nome VARCHAR(50) NOT NULL,
	falta INT NULL,
	tipo VARCHAR(20) NULL,
	descricao VARCHAR(100) NOT NULL
);
GO
SELECT * FROM JUSTIFICATIVA;

CREATE TABLE RELATORIO (
	idRelatorio INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idUsuario INT NOT NULL,
	idJustificativa INT NOT NULL,
	tipo VARCHAR(100) NOT NULL,
	descricao VARCHAR(100) NOT NULL
);
GO
SELECT * FROM RELATORIO;

CREATE TABLE PAGAMENTO (
	idPagamento INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	idStatus INT NULL,
	forma VARCHAR(20) NULL
);
GO
SELECT * FROM PAGAMENTO;

CREATE TABLE BOLETO (
	idBoleto INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	conta_bancaria VARCHAR(50) NULL
);
GO
SELECT * FROM BOLETO;

CREATE TABLE CARTAO (
	idCartao INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	tipo VARCHAR(20) NULL,
	bandeira VARCHAR(20) NULL,
	forma VARCHAR(20) NULL
);
GO
SELECT * FROM CARTAO;

-- DEFAULT
ALTER TABLE GEOLOCALIZACAO 
ADD DEFAULT (SYSDATETIME()) 
FOR dataHoraLocalizacao;
GO

-- =====================
-- FOREIGN KEYS
-- =====================

ALTER TABLE USUARIO 
ADD FOREIGN KEY (idAcl) 
REFERENCES ACL(idAcl);
GO

ALTER TABLE USUARIO 
ADD FOREIGN KEY (idStatus) 
REFERENCES STATUS(idStatus);
GO

ALTER TABLE LISTACHAMADA 
ADD FOREIGN KEY (idUsuario) 
REFERENCES USUARIO(idUsuario);
GO

ALTER TABLE LISTACHAMADA 
ADD FOREIGN KEY (idStatus) 
REFERENCES STATUS(idStatus);
GO

ALTER TABLE LISTACHAMADA 
ADD FOREIGN KEY (idPerfil) 
REFERENCES PERFIL(idPerfil);
GO

ALTER TABLE REGISTRO 
ADD FOREIGN KEY (idUsuario) 
REFERENCES USUARIO(idUsuario);
GO

ALTER TABLE REGISTRO 
ADD FOREIGN KEY (idStatus) 
REFERENCES STATUS(idStatus);
GO

ALTER TABLE REGISTRO 
ADD FOREIGN KEY (idPerfil) 
REFERENCES PERFIL(idPerfil);
GO

ALTER TABLE REGISTRO 
ADD FOREIGN KEY (idListaChamada) 
REFERENCES LISTACHAMADA(idListaChamada);
GO

ALTER TABLE GEOLOCALIZACAO 
ADD FOREIGN KEY (idUsuario) 
REFERENCES USUARIO(idUsuario);
GO

ALTER TABLE ENDERECO 
ADD FOREIGN KEY (idStatus) 
REFERENCES STATUS(idStatus);
GO

ALTER TABLE ENDERECO 
ADD FOREIGN KEY (idGeolocalizacao) 
REFERENCES GEOLOCALIZACAO(idGeolocalizacao);
GO

ALTER TABLE ESTIMATIVA 
ADD FOREIGN KEY (idEndereco) 
REFERENCES ENDERECO(idEndereco);
GO

ALTER TABLE ESTIMATIVA 
ADD FOREIGN KEY (idUsuario) 
REFERENCES USUARIO(idUsuario);
GO

ALTER TABLE JUSTIFICATIVA 
ADD FOREIGN KEY (idStatus) 
REFERENCES STATUS(idStatus);
GO

ALTER TABLE JUSTIFICATIVA 
ADD FOREIGN KEY (idEndereco) 
REFERENCES ENDERECO(idEndereco);
GO

ALTER TABLE JUSTIFICATIVA 
ADD FOREIGN KEY (idEstimativa) 
REFERENCES ESTIMATIVA(idEstimativa);
GO

ALTER TABLE RELATORIO 
ADD FOREIGN KEY (idUsuario) 
REFERENCES USUARIO(idUsuario);
GO

ALTER TABLE RELATORIO 
ADD FOREIGN KEY (idJustificativa) 
REFERENCES JUSTIFICATIVA(idJustificativa);
GO

ALTER TABLE LISTACHAMADA 
ADD FOREIGN KEY (idRelatorio) 
REFERENCES RELATORIO(idRelatorio);
GO

ALTER TABLE LISTACHAMADA 
ADD FOREIGN KEY (idEstimativa) 
REFERENCES ESTIMATIVA(idEstimativa);
GO

ALTER TABLE PAGAMENTO 
ADD FOREIGN KEY (idStatus) 
REFERENCES STATUS(idStatus);
GO

ALTER TABLE USUARIO 
ADD FOREIGN KEY (idPerfil) 
REFERENCES PERFIL(idPerfil);
GO

ALTER DATABASE TransporteEscolar2 
SET READ_WRITE;

USE TransporteEscolar;

SELECT * FROM sys.TABLES;

ALTER TABLE USUARIO
ADD dataNascimento DATE NOT NULL 
CONSTRAINT DF_Usuario_dataNascimento DEFAULT '2000-01-01';
GO

ALTER TABLE USUARIO
ALTER COLUMN numeroTelefone VARCHAR(15) NOT NULL;
GO

ALTER TABLE USUARIO
ALTER COLUMN senha VARCHAR(100) NOT NULL;
GO

SELECT * FROM USUARIO;
GO
